*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Karla', sans-serif;  
    list-style: none;
}

.body{
    background-color: #98A6BD;
}

.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5%;
    border-bottom: 20px;
}

.main-section3, .main-section2, .main-section1{
    padding: 30px;
    grid-column: 1/3;

}
.main-section1{
    background: #E5EFF5;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.main-section2{
    background-color: #2AB2AF;
}

.main-section3{
    background: #2BA6A4;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;



}
